body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

th {
    text-align: left;
}

td {
    text-align: center;
}

form {
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
}
